.input-container {
    background-color: hsl(0, 0%, 95%);

    padding-top: 2em;
    padding-bottom: 2em;
}

.input {
    display: flex;
    flex-direction: column;

    background-color: var(--clr-primary-800);

    margin: 0em 2em;
    padding: 1.5em;

    border-radius: 0.5em;
}

.input input {
    outline-width: 0;
    border: none;

    padding: 1em;
    margin-bottom: 1.125em;

    border-radius: 0.5em;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-500);
}

.input button {
    background-color: var(--clr-primary-400);
    color: white;
   
    font-size: 1rem;
    font-weight: var(--fw-bold);

    padding: 1em;
    
    border: none;
    border-radius: 0.5em; 
    cursor: pointer;
}