.input-container {
    background-color: hsl(0, 0%, 95%);

    margin-top: 3em;
    padding-top: 7em;
    padding-bottom: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-desktop {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;

    background-color: var(--clr-primary-800);

    margin: 0em 2em;
    padding: 1.5em;

    border-radius: 0.5em;

    min-width: 80vw;
}

.input input {
    outline-width: 0;
    border: none;

    padding: 1em;
    margin-bottom: 1.125em;

    border-radius: 0.5em;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-500);
}

.input button {
    background-color: var(--clr-primary-400);
    color: white;
   
    font-size: 1rem;
    font-weight: var(--fw-bold);

    padding: 1em;
    
    border: none;
    border-radius: 0.5em; 
    cursor: pointer;
}

.message {
    font-size: 0.75rem;
    margin-top: 1em;
    margin-bottom: -1em;
    font-style: italic;
}

.input .error {
    color: rgb(237, 80, 80);
}

.input .success {
    color: rgb(116, 232, 96);
}

@media only screen and (min-width: 650px) {
    .input {
        margin: 1em 4em;
        padding: 2.5em;
        display: flex;

        flex-direction: column;
    }

    .input-desktop {
        display: flex;
        flex-direction: row;
    }

    .input input {
        flex: 1;
        margin-right: 1em;
        margin-bottom: 0;
    }
    
    .input button {
        padding: 0.75em 1em;
    }
}

@media only screen and (min-width: 1050px) {
    .input {
        min-width: 60vw;
    }
}