
.landing {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;

    margin: 2em;
}

.landing img {
    min-width: 100vw;
    overflow: hidden;
}

.landing h1 {
    text-align: center;
    line-height: 2.5rem;
    color: var(--clr-neutral-800);
    margin-top: 1em;
}

.landing p {
    color: var(--clr-neutral-400);
    margin-top: 1em;
    text-align: center;
}

.landing button {
    color: white;
    background-color: var(--clr-primary-400);

    font-weight: var(--fw-bold);
    font-size: 1.125rem;

    padding: 0.75em 2.5em;
    margin: 1em auto;

    border-radius: 999em;
    border: none;
    outline: none;

    cursor: pointer;
}

.landing button:active {
    background-color: hsl(180, 66%, 49%, 40%);
}


@media only screen and (min-width: 650px) {
    .landing {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;

        margin: 2.5em 5em;
    }

    .landing > img {
        margin-right: -5em;
        min-width: 40vw;
        overflow: hidden;
    }

    .landing-body > h1 {
        font-size: 4rem;
        line-height: 1.125em;
        max-width: 15ch;
        text-align: left;
    }

    .landing-body > p {
        color: var(--clr-neutral-400);
        max-width: 40ch;
        text-align: left;
    }

    .landing-body {
        margin-left: 1em;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .landing button {
        margin: 0;
        margin-top: 1em;
    }
}
