.main {
    background-color: hsl(0, 0%, 95%);
    padding-top: 3em;
}

.main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.main-heading h2 {
    font-size: 1.5rem;
    
    color: var(--clr-neutral-800);
    text-align: center;
}

.main-heading p {
    text-align: center;
    color: var(--clr-neutral-400);
}

.main-content {
    margin-top: 3em;
}

.main-ending {
    text-align: center;
    padding: 4em 0;

    background-color: var(--clr-primary-800);
    color: hsl(0, 0%, 100%);

    background-image: url('../../images/bg-boost-mobile.svg');
}


.main-ending button {
    color: hsl(0, 0%, 100%);
    background-color: var(--clr-primary-400);

    font-weight: var(--fw-bold);
    font-size: 1.125rem;

    padding: 0.75em 2.5em;
    margin: 0 auto;
    margin-top: 1em;

    border-radius: 999em;
    border: none;
    outline: none;

    cursor: pointer;
}

.main-ending button:active {
    background-color: hsl(180, 66%, 49%, 40%);
}

@media only screen and (min-width: 650px) {
    .main-content {
        display: flex;
        justify-content: center;
    }

    .main-ending {
        background-image: url('../../images/bg-boost-desktop.svg');
    }
}

