.link-card {
    display: flex;
    flex-direction: column;
    align-items: left;

    margin: 2em 2em;

   
    background-color: hsl(0, 0%, 100%);

    border-radius: 0.5em;
}


.link-card button {
    padding: 0.75em 1em;
    color: hsl(0, 0%, 100%);
    font-weight: var(--fw-bold);
    background-color: var(--clr-primary-400);

    border: none;
    border-radius: 0.5em;

    margin: 1em;

    cursor: pointer;
}

.orig-link {
    border-bottom: solid hsl(0, 0%, 85%) 1px;
    padding: 0.5em 0.75em;
}

.short-link {
    padding: 0.5em 0.75em 0 0.75em;
}

.orig-link a {
    text-decoration: none;
}

.orig-link a:visited {
    text-decoration: none;
}

.short-link a {
    color: var(--clr-primary-400);
    text-decoration: none;
}

.short-link a:visited {
    color: var(--clr-primary-400);
    text-decoration: none;
}


