.desktop-nav {
    display: none;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin: 2em 2em;
}

.hamburger {
    color: var(--clr-neutral-400);
    cursor: pointer;
}

@media only screen and (min-width: 650px) {
    .header {
        margin: 2.5em 5em;
        padding: 0;
    } 
    
    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
        flex: 1;

        justify-content: space-between;
        align-items: center;

        padding: 0 2em;
    }

    .desktop-nav-links {
        display: flex;
        align-items: center;
    }

    .desktop-nav-links img {
        margin-right: 1em;
    }

    .desktop-nav a {
        text-decoration: none;
        color: var(--clr-primary-800);
    }

    .desktop-nav a:visited {
        text-decoration: none;
        color: var(--clr-primary-800);
    }

    .desktop-nav a:hover {
        color: var(--clr-neutral-900);
    }

    .desktop-nav-links a {
        padding: 0 1em;
    }

    .desktop-nav-btn > * {
        padding: 0 1em;
    }

    .signup-btn {
        font-weight: var(--fw-bold);

        color: white;
        background-color: var(--clr-primary-400);
        outline: none;
        border: none;

        cursor: pointer;
        padding: 1em 2em;
        border-radius: 99em;
    }

    .signup-btn:active {
        background-color: hsl(180, 66%, 49%, 40%);
    }
}

