@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --clr-primary-400: hsl(180, 66%, 49%);
  --clr-primary-800: hsl(257, 27%, 26%);

  --clr-secondary-500: hsl(0, 87%, 67%);

  --clr-neutral-300: hsl(0, 0%, 75%);
  --clr-neutral-400: hsl(257, 7%, 63%);
  --clr-neutral-800: hsl(255, 11%, 22%);
  --clr-neutral-900: hsl(260, 8%, 14%);

  --ff-primary: 'Poppins', sans-serif;

  --fw-primary: 500;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary);
}